.Detail {
    background-color: #d3b4b4d3;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 2rem;
  }

.span {
    display: inline;
    text-align: right;
    background-color: green;
    font-size: 20px;
    text-transform: uppercase;
}

.species {
    color: blueviolet;
    margin: 10px;
}