.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://images3.alphacoders.com/812/812062.png");
    background-size: cover;
}