.container {
    background-color: rgb(204, 85, 204);
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .container a {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
  }
  
  .container a:hover {
    background-color: white;
    color: rgb(218, 80, 218);
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn{
    display: flex;
    background-color: #f72d8b;
    color: aliceblue;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 18px;
  }